.book-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #10547f3b;
    padding: 1.5rem;
    border-radius: 1rem;
}

.book-card-badges-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}